.no-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

main {
    display: grid;
    background-color: #343a40;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-content {
    background-color: #343a40;
    color: #FFFFFF;
}

#main-header {
    color: white;
    background-color: #23272a;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#main-body img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#main-body .thumbnail {
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 1px;
    border-color: black;
    object-fit: cover;
}

#main-body .list-group-item-1 {
    background-color: #cbd1d6;
}

#main-body .list-group-item-2 {
    background-color: #bfc5c9;
}

#main-body p {
    white-space: nowrap;
    margin-top: 5px;
}

#main-body li {
    cursor: pointer;
}

#modal-title {
    margin-left: 35%;
}
